:root {
    --at-blue: #090442;
    --atRed: #e4152a;
    --ed-purple: #5B3AEE;
    --ed-yellow: #F8BC24;
    --at-Lgray: #f9f9f9;
    --at-Lgray2: #EDEDED;
    --black: #000;
    --white: #fff;

    --font-poppins: "Poppins", sans-serif;
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}